$primary-clr: #7868e6;
$secondary-clr: #b5f4ff;

$navbar-width: 300px;
$mobile-width: 320px;
$tablet-width: 1280px;

$transition: all 0.6s ease;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and ( max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and ( max-width: #{$tablet-width}) {
    @content;
  }
}

.main {
  margin-left: $navbar-width;
  padding: 6em 6em;
  height: 100vh;

  .header {
    font-family: "Courgette", cursive;
    font-size: 2.6rem;
    font-weight: 400;
    z-index: 1;
  }

  .text {
    font-size: 1.4rem;
    line-height: 1.5em;
    margin: 2em 0;

    @include mobile {
      font-size: 1.2rem;
      margin: 1em 0;
    }
  }

  .bold-text {
    color: $primary-clr;
  }

  .custom-btn {
    min-width: 120px;
    max-width: 140px;
    border-radius: 20px;
    text-transform: unset;
  }

  @include mobile {
    padding-left: 3.7em;
  }
}

a {
  text-decoration: none;
}
