$accent-clr: #5e63b6;

$navbar-width: 300px;

$transition: all 0.8s ease;

.main {
  margin-left: $navbar-width;
  padding: 6em 6em;
  height: 100vh;

  .header {
    font-family: "Courgette", cursive;
    font-size: 2.4rem;
    font-weight: 400;
  }

  .text {
    font-size: 1.4rem;
    line-height: 1.4em;
    margin: 2em 0;
  }

  .bold-text {
    color: $accent-clr;
  }

  .custom-btn {
    min-width: 120px;
    max-width: 140px;
    border-radius: 20px;
    text-transform: unset;
  }
}

a {
  text-decoration: none;
}
