@import "../../global.scss";

.contact-section {
  position: relative;

  .contact-img {
    position: absolute;
    top: 100px;
    right: 100px;
  }

  .information {
    margin: 2.2em 0 3.2em;

    .text {
      display: flex;
      margin: 0.4em 0;

      .icon {
        font-size: 2rem;
        margin-right: 0.4em;
      }
    }
  }

  @include tablet {
    .contact-img {
      display: none;
    }
  }

  @include mobile {
    &.main {
      height: unset;
    }

    .contact-img {
      display: none;
    }
  }
}
