@import "../../global.scss";

.homepage {
  .hero-img {
    position: absolute;
    bottom: 4em;
    right: 5em;
    width: 800px;
    z-index: -1;

    img {
      width: 90%;
    }
  }

  .theme-toggle {
    width: 100px;
    height: 40px;
    margin-top: 1em;
  }

  .intro {
    margin-top: 12em;
    max-width: 400px;
  }

  @include tablet {
    .hero-img {
      width: 600px;
      bottom: 2em;

      img {
        width: 95%;
        margin-left: 4em;
      }
    }
  }

  @include mobile {
    .main {
      margin-left: 0;
    }

    .intro {
      margin-top: 4em;
    }

    .hero-img {
      width: 450px;
      bottom: 4em;

      img {
        width: 95%;
        margin-left: 4em;
      }
    }
  }
}
