@import "../../global.scss";

.homepage {
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);

  .hero-img {
    position: absolute;
    top: 8em;
    right: 2.5em;
  }

  .theme-toggle {
    margin-top: 1em;
    height: 30px;
  }

  .intro {
    margin-top: 12em;
    max-width: 400px;
  }
}
