@import "../../global.scss";

.navbar {
  width: $navbar-width;
  background-color: #f7f7ff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      font-family: "Courgette", cursive;
      font-size: 3.4rem;
      margin: 0.15em 0;
    }

    .ocupation {
      font-size: 1.3rem;
      font-weight: 300;
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;

    .link-item {
      font-size: 1.5rem;
      font-weight: 500;
      color: #000;
      text-decoration: none;

      &:hover {
        color: $accent-clr;
        text-decoration: underline;
      }
    }

    &.dark-theme {
      .link-item {
        color: #f1f5f8;

        &:hover {
          color: $secondary-clr;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;

    .social-links {
      display: flex;
      justify-content: space-between;

      .social-link {
        font-size: 2rem;
        margin-bottom: 0.6em;
        color: #000;

        &:hover {
          color: $accent-clr;
        }
      }

      &.dark-theme {
        .social-link {
          color: #f1f5f8;

          &:hover {
            color: $secondary-clr;
          }
        }
      }
    }

    .copyrights {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  @include mobile {
    width: 100%;

    &.close {
      display: none;
    }
  }
}

.mobile-nav {
  position: fixed;
  right: 0.4em;
  top: 0.6em;
  font-size: 3.6rem !important;
  color: $accent-clr;
  cursor: pointer;
  z-index: 2;
  display: none !important;

  &:hover {
    color: #5448a1;
  }

  &.dark-theme {
    color: $secondary-clr;

    &:hover {
      color: #7eaab2;
    }
  }

  @include mobile {
    display: block !important;
  }
}
