@import "../../global.scss";

.project-section {
  margin-bottom: -16em;

  .introduction {
    .text {
      margin: 1.2em 0;
    }
  }

  @include tablet {
    &.main {
      height: unset;
    }
  }

  @include mobile {
    &.main {
      height: unset;
      margin-bottom: -5em;
    }

    .introduction {
      .text {
        width: 100%;
        margin: 1.1em 0;
      }
    }
  }
}
