@import "../../global.scss";

.project-section {
  &.main {
    height: unset;
    margin-bottom: -5em;
  }

  .introduction {
    .text {
      margin: 1.2em 0;
    }
  }

  @include mobile {
    .introduction {
      .text {
        width: 100%;
        margin: 1.1em 0;
      }
    }
  }
}
