@import "../../global.scss";

#contact-form {
  background-color: #3437a1;
  width: 450px;
  height: 460px;
  border-radius: 10px;
  padding: 3em;

  .input {
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 1.25em;
  }

  .custom-btn {
    margin-top: 0.2em;
    float: right;
  }

  @include mobile {
    width: 300px;
    margin: 0 auto;
  }
}

.feedback-msg {
  position: absolute;
  top: 4%;
  left: 60px;
}
