@import "../../global.scss";

.container {
  width: 250px;
  display: flex;
  flex-direction: column;

  .thumbnail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 100%;
      border-radius: 10px;
    }

    &:hover {
      transition: $transition;

      img {
        opacity: 0.65;
      }

      .buttons {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .buttons {
    position: absolute;
    display: none;

    .button {
      margin-top: 1em;
    }
  }

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.2em 0 1em;
    align-self: center;
  }
}
