@import "../../global.scss";

.container {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 1em 10em 0 0;

  .thumbnail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 1.5em;
      bottom: 1.5em;
      left: 1.5em;
      right: 1.5em;
    }

    &::before {
      transform: scale(0, 1);
      transition: $transition;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }

    &::after {
      transform: scale(0, 1);
      transition: $transition;
      border-left: 1px solid white;
      border-right: 1px solid white;
    }

    &:hover::before {
      transform: scale(1.06, 1);
    }

    &:hover::after {
      transform: scale(1, 1.06);
    }

    img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      border-radius: 10px;
      transition: $transition;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
      img {
        opacity: 0.4;
        transition: $transition;
      }

      .technique {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        z-index: 1;
      }

      .view-project {
        width: 90px;
        margin-top: 12em;
        display: flex;
        justify-content: space-between;
        z-index: 1;

        .view-icon {
          font-size: 1.8rem;
          color: #fff;

          &:hover {
            color: $primary-clr;
          }
        }
      }
    }
  }

  .view-project,
  .technique {
    position: absolute;
    display: none;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.65em 0 1em;
    align-self: center;
  }

  @include tablet {
    margin: 4em auto -3em;
  }

  @include mobile {
    margin: 1em auto;

    .view-icon {
      font-size: 2rem !important;
    }
  }
}
