@import "../../global.scss";

.about-section {
  .info {
    display: flex;

    .left {
      flex: 2;
      max-width: 500px;

      .download-file {
        color: inherit;
        display: flex;
        align-items: center;

        .download-icon {
          margin-right: 0.4em;
        }
      }
    }

    .right {
      flex: 1;
      margin-left: 14em;

      .portrait {
        width: 350px;
        border-radius: 10px;
      }
    }
  }

  @include tablet {
    &.main {
      height: unset;
    }

    .info {
      .right {
        .portrait {
          margin: 4em 0;
          width: 240px;
        }
      }
    }
  }

  @include mobile {
    height: unset !important;

    .info {
      flex-direction: column;

      .right {
        margin: 0 auto;

        .portrait {
          margin: 4em 0 -3em;
          width: 200px;
        }
      }
    }
  }
}
