.about-section {
  .info {
    display: flex;

    .left {
      flex: 2;
      max-width: 500px;

      .text {
        line-height: 1.5em;
      }

      .download-file {
        color: #fff;
        display: flex;
        align-items: center;

        .download-icon {
          margin-right: 0.4em;
        }
      }
    }

    .right {
      flex: 1;
      margin-left: 14em;

      .portrait {
        // width: 65%;
        width: 350px;
        border-radius: 8px;
      }
    }
  }
}
