@import "../../global.scss";

$time: 2s;

.about-section {
  height: unset !important;

  .info {
    display: flex;

    .left {
      flex: 2;
      max-width: 500px;

      .download-file {
        color: inherit;
        display: flex;
        align-items: center;

        .download-icon {
          margin-right: 0.4em;
        }
      }
    }

    .right {
      flex: 1;
      margin-left: 14em;

      .portrait {
        width: 350px;
        border-radius: 10px;
      }
    }
  }

  .skill-set {
    width: 100%;
    margin-top: 6em;
    position: relative;

    .skill-bg {
      width: 100%;
    }

    .skills {
      position: absolute;
      width: 45px;
      top: 22%;
      left: 54%;

      .skill {
        width: 100%;
        display: flex;
        animation: orbit $time linear infinite;
      }

      .ai {
        animation: orbit2 $time * 1.4 linear infinite;
      }

      .vscode {
        animation: orbit3 $time linear infinite;
      }
    }
  }

  @include tablet {
    .info {
      .right {
        .portrait {
          margin: 4em 0;
          width: 240px;
        }
      }
    }
  }

  @include mobile {
    .info {
      flex-direction: column;

      .right {
        margin: 0 auto;

        .portrait {
          margin: 4em 0 -3em;
          width: 200px;
        }
      }
    }

    .skill-set {
      width: 450px;
      margin-top: 10em;
      margin-bottom: -4em;
      margin-left: -2em;

      .skills {
        width: 26px;
        top: 20%;
        left: 50%;

        .skill {
          animation: orbit-mobile $time linear infinite;
        }

        .ai {
          animation: orbit2-mobile $time * 1.3 linear infinite;
        }

        .vscode {
          animation: orbit3-mobile $time linear infinite;
        }
      }
    }
  }
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(90px);
  }
  to {
    transform: rotate(360deg) translateX(90px);
  }
}

@keyframes orbit2 {
  from {
    transform: rotate(0deg) translateX(130px);
  }
  to {
    transform: rotate(360deg) translateX(130px);
  }
}

@keyframes orbit3 {
  from {
    transform: rotate(0deg) translateX(-125px);
  }
  to {
    transform: rotate(360deg) translateX(-125px);
  }
}

@keyframes orbit-mobile {
  from {
    transform: rotate(0deg) translateX(45px);
  }
  to {
    transform: rotate(360deg) translateX(45px);
  }
}

@keyframes orbit2-mobile {
  from {
    transform: rotate(0deg) translateX(60px);
  }
  to {
    transform: rotate(360deg) translateX(60px);
  }
}

@keyframes orbit3-mobile {
  from {
    transform: rotate(0deg) translateX(-50px);
  }
  to {
    transform: rotate(360deg) translateX(-50px);
  }
}
