@import "../../global.scss";

.technology {
  .custom-btn {
    min-width: 30px !important;
    padding: 0.2em 0.5em;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 6px !important;
    margin-bottom: 1em;

    &:hover {
      background-color: $accent-clr;
      box-shadow: none;
      cursor: initial;
    }
  }
}
